.wrapper {
  display: grid;
  grid-template-columns: 70% 30%;

  grid-gap: 1rem;
}

.wrapper > div {
  background: #eee;
  padding: 1em;
}
.wrapper > div:nth-child(odd) {
  background: #ddd;
}

.caja > div {
  margin-top: 1rem;
  background: #eee;
  padding: 1em;
}
.caja > div:nth-child(odd) {
  background: #ddd;
}

.caja {
  display: grid;
  /* grid-template-columns: 1fr 1fr 1fr;*/
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
  grid-auto-rows: minmax(100px, auto);
}

.nested > div {
  border: #333 1px solid;
  padding: 1rem;
}

.nested {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(70px, auto);
  grid-gap: 1rem;
}

.box > div {
  margin-top: 1rem;
  background: #eee;
  padding: 1em;
}
.box > div:nth-child(odd) {
  background: greenyellow;
}

.box {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-auto-rows: minmax(100px, auto);
  grid-gap: 1rem;
  justify-items: stretch;
  align-items: stretch;
}

.box1 {
  //align-self: start;
  grid-column: 1/3;
  grid-row: 1/3;
  border:black 1px solid;
}

.box2 {
  //align-self: end;
  grid-column: 3;
  grid-row: 1/3;
  border:black 1px solid;
}

.box3 {
  //align-self: end;
  grid-column: 2/4;
  grid-row: 3;
  border:black 1px solid;
}
.box4 {
  //align-self: end;
  grid-column: 1;
  grid-row: 2/4;
  border:black 1px solid;
}
